-r ../requirements.txt

configargparse
torch
tntorch
numpy
tqdm
trimesh
scikit-image
git+https://github.com/NVIDIAGameWorks/kaolin@master#egg=kaolin
git+https://github.com/libigl/libigl-python-bindings.git@master#egg=igl
