configargparse
torch==1.11.0+cu113
git+https://github.com/rballester/tntorch@master#egg=tntorch
numpy
tqdm
trimesh
pysdf
pyvista
ipygany
scikit-image
git+https://github.com/NVIDIAGameWorks/kaolin@master#egg=kaolin
git+https://github.com/libigl/libigl-python-bindings.git@master#egg=igl
